@media screen and (max-width: 390px) {
  .forri{
   height: 100vh;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   text-align: center;
 } 
}


body
{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 219, 199);
}

.esme
{
    display: flex;
    text-align: center;
    font-size: large;
    width:13rem;
    height:2rem;
    border-radius: 0.5rem;
}

.inves
{
    text-align: center;
    font-size: large;
    width:14rem;
    height:2rem;
    border-radius: 0.5rem;
    background-color: gray;
    color: white;
}
.rtt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*.forri
{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}*/

.range
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.range li a
{
    justify-content:center;
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: larger;
    font-style: initial;
    font-weight: 700;
    width: 100px;
}


.pin
{
width: 15rem;
}
.nin
{
width: 15rem;
}
.sin
{
width: 15rem;
}
.jin
{
width: 15rem;
}
.fin
{
width: 15rem;
}
.lin
{
width: 15rem;
}


.piechart {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 10px;
    background-image:conic-gradient(
      red 100deg,
      green 00 200deg,
      rgb(67, 67, 210) 0 23deg,
      yellow 0 70deg,
      white 0
    );
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;

  }
  #legenda {
    height: 10rem; 
    width: 4rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .entry {
    display: flex;
    align-items: center;
  }
  
  .entry-color {
    height: 10px;
    width: 10px;
  }
  
  .entry-text {
    color: rgb(49, 49, 86);
  }
  
  #color-red {
    background-color: red;
  }
  #color-yellow {
    background-color: yellow;
  }
  
  #color-blue {
    background-color: rgb(9, 170, 224);
  }
  #color-green {
    background-color:rgb(17, 141, 17);
  }
  #color-white {
    background-color: white;
  }


  .value,
  .label {
    color: rgb(7, 7, 31);
  }
  .item{
    border-radius: 5%;
  }

.range
{
    display: flex;
    align-items: center;
}
.axee
{
     opacity: 40%;
    border-radius: 15%;
    display: flex;
    align-items: center; 
}

.dovari
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vh;
}
.moon
{
    display: flex;
    justify-content: center;
    font-size: large;
    text-align: center;
}
.onaa
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
th, td {
    border:0.5mm solid rgb(143, 136, 136);
    border-collapse: collapse;
    width: 8rem;
    height: 3rem;
  }
  .table
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: center;

  }
  .hadaf
{
color: rgb(57, 90, 75);
display: flex;
text-align: center;
flex-direction: column;
}
.hamash
{
    display: flex;
flex-direction: column;
justify-content: center;
}
.dotayiha
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vh;
}
.baham
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
                        